
<div class="row pad well">
  <a href="https://open.spotify.com/artist/12fzO7xcyUgAdJyua4yXte">
    <img class="icon" src="images/spotify.svg" />
  </a>

  <a href="https://soundcloud.com/kiikoblak">
    <img class="icon" id="icon-sc" src="images/soundcloud.svg" />
  </a>

  <a href="https://twitter.com/kiikoblak">
    <img class="icon" src="images/twitter.svg" />
  </a>

  <a href="https://www.instagram.com/kiikoblak/">
    <img class="icon" src="images/instagram.svg" />
  </a>

  <a href="https://www.facebook.com/kiikoblak">
    <img class="icon" src="images/facebook.svg" />
  </a>
</div>

<style>
  #icon-sc{
    width: 60px;
  }
  .icon{
    width: 40px;
    margin: 15px;
  }
</style>
